backups/
node_modules/
backups/
.build/
.tscache/
meteor/client/views/**/*.js
meteor/shared/**/*.js
meteor/server/**/*.js
tscommand-*.tmp.txt
meteor/client/controllers/**/*.js
meteor/client/directives/**/*.js
tmp/
meteor/built/
meteor/.baseDir.ts
meteor/packages/.baseDir.js.map
meteor/packages/.baseDir.js
meteor/shared/versions.ts
smallstack/
built/
meteor/npm-debug.log
meteor/local-packages.json
meteor/packages/.baseDir.ts
meteor/server/functions/server-counts.ts
