<!--<div>
  <div class="ui fluid action input">
    <input type="text" placeholder="Filter..." id="searchInput">
    <div class="ui button" id="searchBtn">Filter</div>
  </div>
  <h1 class="ui header">Statistics</h1>
  <div class="ui tiny statistic">
    <div class="value">{{stats.shareCount}}</div>
    <div class="label">Shares</div>
  </div>
  <div class="ui tiny statistic">
    <div class="value">{{stats.videoCount}}</div>
    <div class="label">Videos</div>
  </div>
  <div class="ui tiny statistic">
    <div class="value">{{stats.userCount}}</div>
    <div class="label">Users</div>
  </div>
  <h3 class="ui header">Weekday Statistics</h3>
  <div class="ui tiny statistic">
    <div class="value">{{weekday 1}}</div>
    <div class="label">Monday</div>
  </div>
  <div class="ui tiny statistic">
    <div class="value">{{weekday 2}}</div>
    <div class="label">Tuesday</div>
  </div>
  <div class="ui tiny statistic">
    <div class="value">{{weekday 3}}</div>
    <div class="label">Wednesday</div>
  </div>
  <div class="ui tiny statistic">
    <div class="value">{{weekday 4}}</div>
    <div class="label">Thursday</div>
  </div>
  <div class="ui tiny statistic">
    <div class="value">{{weekday 5}}</div>
    <div class="label">Friday</div>
  </div>
  <div class="ui tiny statistic">
    <div class="value">{{weekday 6}}</div>
    <div class="label">Saturday</div>
  </div>
  <div class="ui tiny statistic">
    <div class="value">{{weekday 0}}</div>
    <div class="label">Sunday</div>
  </div>
  <h3 class="ui header">Hourly Statistics</h3> {{#each stats.hours}}
  <div class="ui tiny statistic">
    <div class="value">{{value}}</div>
    <div class="label">{{label}}</div>
  </div>{{/each}}</template>
</div>-->