<template name="playlist">
    <div>
        <h1 class="ui dividing top attached header"><i class="big film icon"></i> <div class="content">Recently Shared Medias</div></h1>

        <div class="ui attached segment">
            <table class="ui table">
                <tr>
                    <td>
                    </td>
                    <td>
                        <h3>Date</h3>
                    </td>
                    <td>
                        <h3>Title</h3>
                    </td>
                    <td>
                        <h3>Url</h3>
                    </td>
                    <td>
                        <h3>Type</h3>
                    </td>
                    <td>
                        <h3>Settings</h3>
                    </td>
                    <td>
                        <h3>Sender</h3>
                    </td>
                    <td>
                        <h3>Actions</h3>
                    </td>
                    <td>
                        <h3>Active Presenters</h3>
                    </td>
                </tr>

                {{#each medias}}
                <tr>
                    <td height="50px">
                        <img src="{{getThumbnail}}" width="50px">
                    </td>
                    <td>{{#if date}}<span>{{getFormattedDate date}}</span>{{/if}}
                    </td>
                    <td>{{getTitle}}
                    </td>
                    <td><a href="{{url}}">{{url}}</a>
                    </td>
                    <td>{{getType}}
                    </td>
                    <td>
                        {{#if $eq getType 'youtube'}}<span>VideoID : {{getVideoId}}</span> {{/if}}
                    </td>
                    <td>{{owner}}
                    </td>
                    <td>
                        <button id="reshareBtn" class="ui green button">reshare</button>
                    </td>
                    <td>
                        {{#each ../presenters}} {{#if $eq currentSharedMedia ../_id}}
                        <div align="center">
                            {{name}}
                            <br/>
                            <i class="stop link icon controlPresenterBtn" data-control="stop" title="stop video"></i>
                            <i class="pause link icon controlPresenterBtn" data-control="pause" title="pause video"></i>
                            <i class="play link icon controlPresenterBtn" data-control="play" title="play paused video"></i>
                            <i class="angle double left link icon controlPresenterBtn" data-control="slower" title="play slower"></i>
                            <i class="angle double right link icon controlPresenterBtn" data-control="faster" title="play faster"></i>
                            <i class="volume off link icon controlPresenterBtn" data-control="mute" title="mute video"></i>
                            <i class="volume down link icon controlPresenterBtn" data-control="volumedown" title="volume up (louder)"></i>
                            <i class="volume up link icon controlPresenterBtn" data-control="volumeup" title="volume down (less louder)"></i>
                        </div>
                        {{/if}} {{/each}}
                    </td>
                </tr>
                {{/each}}
            </table>
        </div>
    </div>
</template>