<page-header text="Devices & Apps"></page-header>

<div class="ui container">
	<h2>Presenters</h2> The easiest solution is to connect a TV with a Laptop or an old PC. Open a browser and navigate to <a href="http://p.mediasharing.io">http://p.mediasharing.io</a>.
	You will see the first time setup with a 5 digit code. Remember that one and go to your group and add the presenter.

	<p align="center">
		<img src="/images/devices/tvscreen.jpg">
	</p>


	<h2>Sharing</h2> All desktop browsers on all devices should work besides older versions of Internet Explorer. If not, try another browser.


	<!--<h2>Apps</h2> All apps are currently in beta phase! iOS version is coming soon!

	<p align="center">
		<a href="https://play.google.com/store/apps/details?id=io.mediasharing">
			<img alt="Get it on Google Play" src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" />
		</a>
	</p>-->
</div>