<page-header text="Sharing is Caring"></page-header>

<div class="ui container">

    <h2>About</h2>
    <p>
        mediasharing.io is a platform for sharing medias like photos, videos or documents. Users can join sharing groups and televisions
        or unused LCDs turn into presenters.
    </p>

    <h2>Features</h2>

    <h3>Groups</h3> Create a group and invite other users. Nobody outside of your group will see the medias you shared!

    <h3>Presenters</h3> Use any device that can display a webpage as presenter, for example an Android HDMI Stick plugged into an old LCD, or
    just a laptop nobody uses anymore. The hardware requirements are very low!


    <h3>Medias</h3> You can share photos, videos, websites and even powerpoints!
</div>